'name': 'Atomic.Fusion'
'scopeName': 'source.fusion'

'fileTypes': [
	'fusion'
]

'patterns': [
	{
		'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
		'name': 'constant.numeric.fusion'
	}
	{
	    'begin': '\''
	    'end': '\''
	    'name': 'string.quoted.single.fusion'
	}
	{
	    'begin': '\''
	    'beginCaptures':
	        '0':
	            'name': 'punctuation.definition.string.begin.fusion'
	    'end': '\''
	    'endCaptures':
	        '0':
	            'name': 'punctuation.definition.string.end.fusion'
	    'name': 'string.quoted.single.mylanguage'
	    'patterns': [
	        {
	            'match': '\\''
	            'name': 'constant.character.escape.jusion'
	        }
	    ]
	}
	{
		# Rule …
	}
]
