'name': 'Atomic.Fusion'
'scopeName': 'source.text.plist.html.fusion'

'fileTypes': [
	'fusion'
]

'firstLineMatch': '^((prototype)(\\()(\.+)\\:(\.+)(\\)))\\s*<\\s*(prototype)(\\()(\.+)\\:(\.+)(\\))\\s*({)'

'patterns': [
	{
		# TEST AREA
		'match': '^((prototype)(\\()(\.+)\\:(\.+)(\\)))\\s*<\\s*(prototype)(\\()(\.+)\\:(\.+)(\\))\\s*({)'
		'name': 'invalid.illegal.punctuation.fusion'
	}
	{
		'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
		'name': 'constant.numeric.fusion'
	}
	{
		# HTML
		'include': 'html' #goes not :-(
	}
	{
		# Comments
		'include': '#comments'
	}
	{
		# Section STYLEGUIDE Intro
		'begin': '^\\s+((@)styleguide\\b)\\s*(\{)'
		'beginCaptures':
			'1':
				'name': 'keyword.control.fusion'
			'3':
				'name': 'punctuation.array.fusion'
			#'4':
			#	'name': 'punctuation.section.property-list.begin.fusion'
		'end': '\{'
		'endCaptures':
			'1':
				#'patterns': [
				#	{
				#		'include': '#rule-list'
				#	}
				#]
				'name': 'punctuation.array.fusion'
	}
	{
		# Section RENDERER
		'begin': '^\\s+(renderer\\b)\\s*((\=)\\s*([A-Za-z]+)(`))'
		'beginCaptures':
			'1':
				'name': 'keyword.control.fusion'
			'2':
				'name': 'meta.structure.dictionary.value.json.fusion'
			'3':
				'name': 'punctuation.seperator.fusion'
			'4':
				'name': 'keyword.other.special-method.fusion'
			'5':
				'name': 'markup.quote.fusion'
		'end': '^\\s+(`)$'
		'endCaptures':
			'1':
				'name': 'markup.quote.fusion'
		'patterns': [
			{
				'include': 'text.html.basic'
			}
		]
	}
	{
		# property-name = 'property-value'
		'name': 'property-list.fusion'
		'begin': '(^\\s+([-A-Za-z0-9]+)\\s*(\=)\\s*((\')?(\.+)?(\')?))'
		'beginCaptures':
			'1':
				'name': 'meta.structure.fusion'
			'2':
				#'name': 'meta.structure.key.---.entity.name.type.property-name.fusion'
				'name': 'entity.other.attribute-name.fusion'
			'3':
				'name': 'punctuation.definition.separator.key-value.fusion'
			'4':
				#'name': 'string.quoted.single.property-value.fusion'
				'name': 'string.fusion'
			'5':
				'name': 'punctuation.definition.string.begin.fusion'
			'7':
				'name': 'punctuation.definition.string.end.fusion'
		'end': '(;)?$'
		'endCaptures':
			'1':
				'name': 'invalid.illegal.punctuation.fusion'
	}
	{
		# Rule …
	}
]

'repository':
	# # Properties
	# 'property-name':
	# 	'begin': '(?=[-A-Za-z]+)'
	# 	'end': '(?!\\G)'
	# 	'name': 'meta.property-name.fusion'
	# 	'patterns': [
	# 		{
	# 			'include': 'source.css#property-names'
	# 		}
	# 	]
	# 'property-value':
	# 	'patterns': [
	# 		{
	# 			'include': 'source.css#numeric-values'
	# 		}
	# 		{
	# 			'match': '[-+*/](?!\\s*[-+*/])'
	# 			'name': 'keyword.operator.css'
	# 		}
	# 		{
	# 			'include': '#variable-usage'
	# 		}
	# 		{
	# 			'match': '\\b(true|false)\\b'
	# 			'name': 'support.constant.property-value.css.fusion'
	# 		}
	# 		{
	# 			'include': 'source.css#property-keywords'
	# 		}
	# 		{
	# 			'include': '#string-double'
	# 		}
	# 		{
	# 			'include': '#string-single'
	# 		}
	# 		{
	# 			'begin': '(rgb|url|attr|counter|counters|local|format)\\s*(\\()'
	# 			'beginCaptures':
	# 				'1':
	# 					'name': 'support.function.misc.fusion'
	# 				'2':
	# 					'name': 'punctuation.section.function.fusion'
	# 			'end': '(\\))'
	# 			'endCaptures':
	# 				'1':
	# 					'name': 'punctuation.section.function.fusion'
	# 			'patterns': [
	# 				{
	# 					'include': '#string-single'
	# 				}
	# 				{
	# 					'match': '[^\'") \\t]+'
	# 					'name': 'variable.parameter.misc.fusion'
	# 				}
	# 			]
	# 		}
	# 	]
	# # Strings / Single Quotation Marks
	# 'string-single':
	# 	'begin': '\''
	# 	'beginCaptures':
	# 		'0':
	# 			'name': 'punctuation.definition.string.begin.fusion'
	# 	'end': '\''
	# 	'endCaptures':
	# 		'0':
	# 			'name': 'punctuation.definition.string.end.fusion'
	# 	'name': 'string.quoted.single.fusion'
	# 	'patterns': [
	# 		{
	# 			'match': '\\\\(\\h{1,6}|.)'
	# 			'name': 'constant.constant.language-range.fusion'
	# 		}
	# 	]
	# # Strings / Double Quotation Marks
	# 'string-single':
	# 	'begin': '\"'
	# 	'beginCaptures':
	# 		'0':
	# 			'name': 'punctuation.definition.string.begin.fusion'
	# 	'end': '\"'
	# 	'endCaptures':
	# 		'0':
	# 			'name': 'punctuation.definition.string.end.fusion'
	# 	'name': 'string.quoted.double.fusion'
	# 	'patterns': [
	# 		{
	# 			'match': '\\\\(\\h{1,6}|.)'
	# 			'name': 'constant.constant.language-range.fusion'
	# 		}
	# 	]
	# Comments
	'comments':
		'patterns': [
			{
				'match': '\\w+\\s*((//|/\\*).*)'
				'captures':
					'1':
						'name': 'invalid.illegal.fusion'
			}
			{
				'begin': '^(\\s*)(/\\*)'
				'beginCaptures':
					'2':
						'name': 'punctuation.definition.comment.fusion'
				'end': '(\\*/)|^(?!\\s\\1)' # Must be indented by at least one space
				'endCaptures':
					'1':
						'name': 'punctuation.definition.comment.fusion'
				'name': 'comment.block.fusion'
			}
			{
				'begin': '^(\\s*)(//)'
				'beginCaptures':
					'2':
						'name': 'punctuation.definition.comment.fusion'
				'end': '^(?!\\s\\1)' # Must be indented by at least one space
				'name': 'comment.line.fusion'
			}
		]
