
// Syntax Highlighting
//
// for language "Atomic.Fusion"
//
// for the Atom Editor


// Import Styles from Theme
@import "syntax-variables";


// Customized Styles

.syntax {

    &--fusion {

        &.syntax {

            &--prototype {
                color: @syntax-text-color;

                &-keyword {
                    color: @syntax-text-color;
                    opacity: 0.6;
                }

                &-path {
                    color: @syntax-text-color;
                    opacity: 0.6;
                }

                &-component {
                    color: @syntax-color-import;
                    text-decoration: underline;
                }
            }

            &--property {
                color: @syntax-color-property;

                &-keyword {
                    color: @syntax-color-method;
                }

                &-path {
                    color: @syntax-text-color;
                    opacity: 0.8;

                    &-embedded {
                        color: @syntax-color-snippet;
                        font-style: italic;
                        //opacity: 1;
                    }
                }

                &-value {
                    color: @syntax-text-color;
                }

                &-element {
                    color: @syntax-text-color;
					opacity: 0.6;
                    text-decoration: underline;
                }

                &-component {
                    color: @syntax-color-import;
                    text-decoration: underline;
                }
            }

            &--number {
                color: @syntax-color-variable;
            }

            &--context {
                color: @syntax-color-class;
            }

            &--language {
               color: @syntax-color-import;
            }


            // Punctuation

            &--comment {
                // use Theme’s standard
            }

            &--punctuation {
                // use Theme’s standard
            }

            &--quote {
                color: @syntax-text-color;
                opacity: 0.4;
            }

            &--tree {
                color: @syntax-text-color;
                opacity: 0.4;
            }

            &--bracket {
                color: @syntax-text-color;
                opacity: 0.4;

                &-embedded {
                    color: @syntax-color-snippet;
                    opacity: 1;
                }
            }

            &--operator {
                color: @syntax-text-color;
                opacity: 0.8;
            }

            // Non-Editable Content
            // Mostly static and structural parts of the source code, i.e. these aren’t usually specificially edited
            &--static {
                font-style: italic;
            }
        }
    }
}
